body{
margin:0;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(45deg,#ffd6e7,#ffc0cb);
font-family:Arial;
}

/* กล่อง */
.gift{
position:relative;
width:220px;
height:200px;
background:#ff4d88;
border-radius:15px;
cursor:pointer;
}

.lid{
position:absolute;
top:-60px;
width:240px;
height:70px;
left:-10px;
background:#ff66a3;
border-radius:15px;
}

.ribbon-v{
position:absolute;
width:30px;
height:200px;
background:#fff;
left:95px;
}

.ribbon-h{
position:absolute;
height:30px;
width:220px;
background:#fff;
top:85px;
}

/* หน้าใส่รหัส */
.code-box{
background:white;
padding:30px;
border-radius:15px;
text-align:center;
}

input{
padding:10px;
font-size:18px;
text-align:center;
border-radius:10px;
border:none;
}

button{
padding:10px 20px;
margin-top:10px;
font-size:16px;
border:none;
border-radius:10px;
background:#ff4d88;
color:white;
cursor:pointer;
}
